@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #18171f;
  --semi-dark-black: #24232c;
  --grey: #817d92;
  --almost-white: #e6e5ea;
  --green: #a4ffaf;
  --red: #f64a4a;
  --orange: #fb7c58;
  --yellow: #f8cd65;
}
body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.wrapper {
  width: 37.5%;
}
.container {
  width: 100%;
}
.form-wrapper {
  background-color: var(--semi-dark-black);

  padding: 2rem 3.5rem;
}
.title {
  text-align: center;
  color: var(--grey);
  font-size: 24px;
}
.password-holder {
  background-color: var(--semi-dark-black);
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  padding: 1rem 3.5rem;
}
.password {
  color: var(--grey);
}
.char-length-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.char-length-label {
  color: var(--almost-white);
  font-size: 24px;
}
.char-length-number {
  color: var(--green);
  font-size: 24px;
}
/* Copy Button Styles */
.copy-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copy-btn-wrapper h1 {
  font-size: 24px;
  margin-right: 1rem;
  color: var(--green);
}
.copy-btn {
  background-color: transparent;
  border: none;
}
/* Input range styles */
.password-range {
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 2px;
  background: linear-gradient(90deg, var(--green) 40%, var(--black) 40%);
  cursor: pointer;
  margin: 2rem auto;
}

/* Thumb: for Chrome, Safari, Edge */
.password-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background: var(--almost-white);
  transition: all 500ms ease;
}

.password-range::-webkit-slider-thumb:hover {
  background-color: var(--black);
  border: 1.2px solid var(--green);
}

/* Thumb: for Firefox */
.password-range::-moz-range-thumb {
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background: var(--green);
}

/* Check boxes Styels */

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
  color: var(--almost-white);
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: var(--semi-dark-black);
  border: 3px solid var(--almost-white);
  border-radius: 0px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: var(--green);
}

.control input:checked ~ .control_indicator {
  background: var(--green);
  border: 3px solid var(--green);
}

.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 4px;
  top: 0px;
  width: 4px;
  height: 8px;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* ------------------------------Strength ------------------------------- */
.strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
  background-color: var(--black);
  margin: 2rem auto;
}
.strength-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.strength .str {
  font-size: 18px;
  color: var(--almost-white);
  font-weight: 300;
  opacity: 0.6;
}
.strength .med {
  font-size: 24px;
  color: var(--almost-white);
}

.strength-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 1rem;
}
.bar {
  width: 10px;
  height: 28px;
  border: 1px solid var(--almost-white);
  margin: 0 0 0 0.1rem;
}

/*====================== Generate Button Styles    ==================== */
.generate-btn {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--green);
  height: 56px;
  border: none;
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  transition: all 500ms ease;
}
.generate-btn .right-arrow svg {
  margin-left: 1rem;
  padding-top: 0.4rem;
}

.generate-btn:hover {
  background-color: var(--semi-dark-black);
  border: 2.4px solid var(--green);
  color: var(--green);
  font-weight: 600;
}
/*====================== Mobile Responsiveness ==================== */
@media screen and (max-width: 480px) {
  .wrapper {
    width: 80%;
    padding: 0.2rem;
    margin: 0.2rem;
  }
  .strength {
    padding: 0.4rem;
    margin: 0.2rem auto;
  }
  .form-wrapper {
    padding: 1rem 1rem;
  }
  .title {
    font-size: 16px;
  }
  .password-holder {
    margin: 1rem auto;
    padding: 0.5rem 2rem;
  }
  .password {
    font-size: 24px;
  }
  .char-length-label {
    font-size: 16px;
  }
  .char-length-number {
    font-size: 24px;
  }
  .control {
    font-size: 16px;
  }
  .strength {
    margin: 1rem auto;
    padding: 0.4rem 0 0.4rem 0.8rem;
  }
  .str {
    font-size: 16px;
  }
  .strength-indicator .med {
    font-size: 18px;
  }
  .strength-bars {
    margin: auto 0.5rem;
  }
  .bar {
    width: 8px;
    height: 28px;
    border: 1px solid var(--almost-white);
    margin: auto 0.09rem;
  }
  .password-holder {
    margin: 1rem auto;
    padding: 0.5rem 1rem;
  }
  .password {
    font-size: 16px;
    padding-top: 0.4rem;
  }
  .copy-btn-wrapper h1 {
    font-size: 16px;
    margin-right: 0.5rem;
  }
}

/*====================== Strength Styles ========================= */
.too-weak .bar-1 {
  background-color: var(--red);
  border: var(--red);
}
.weak .bar-1,
.weak .bar-2 {
  background-color: var(--orange);
  border: var(--orange);
}
.medium .bar-1,
.medium .bar-2,
.medium .bar-3 {
  background-color: var(--yellow);
  border: var(--yellow);
}
.strong .bar-1,
.strong .bar-2,
.strong .bar-3,
.strong .bar-4 {
  background-color: var(--green);
  border: var(--green);
}
/*====================== Table Responsiveness ==================== */
@media screen and (min-width: 480px) and (max-width: 834px) {
  .wrapper {
    width: 74%;
  }
  .form-wrapper {
    padding: 2rem 2.4rem;
  }
  .password-holder {
    margin: 1.4rem auto;
    padding: 0.5rem 2.4rem;
  }
  .strength-indicator .med {
    font-size: 14px;
  }
}

/*====================== Laptop Responsiveness ==================== */
@media screen and (min-width: 834px) and (max-width: 1440px) {
  .wrapper {
    width: 44%;
  }
  .container {
    width: 100%;
  }
  .form-wrapper {
    background-color: var(--semi-dark-black);

    padding: 2rem 2ch;
  }
}
.hidden {
  opacity: 0;
}
